.twbs .text-secondary {
  color: #2396fb !important;
}

.twbs .sk-three-bounce .sk-child,
.twbs .progress .bg-secondary {
  background-color: #2396fb !important;
}

.twbs .tracker-progress-bar-with-dots .secondary .dot {
  border-color: #2396fb;
}

.twbs .tracker-progress-bar-with-dots .success .dot {
  border-color: #5cb85c;
}

.twbs .btn-secondary {
  border-color: #2396fb !important;
  background-color: #2396fb !important;
}
.twbs .btn-secondary:focus,
.twbs .btn-secondary:not(:disabled):not(.disabled):active,
.twbs .btn-secondary:focus:active {
  box-shadow: 0 0 0 2px rgba(35, 150, 251, 0.25) !important;
}
.twbs .btn-secondary:hover {
  background-color: #047de7 !important;
}

.form-control:focus {
  border-color: #2396fb;
  border-width: 2px;
  box-shadow: none;
}

.twbs .my-6 {
  margin-bottom: 0em !important;
}

.twbs .mb-6 {
  margin-bottom: 0em !important;
}

.twbs .tracking-details-time {
  -ms-flex: 90px 0 0px;
  flex: 90px 0 0;
}

.twbs ul {
  margin-bottom: 0rem;
}

.mainContainer {
  position: relative;
}

.controlDiv {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 5;
  padding: 3px;
}

.imageDiv {
  vertical-align: middle;
  text-align: center;
}